<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <!-- <link href="./stylesheet.css" rel="stylesheet" ></link> -->
    <link href="./add.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <!-- import other html files and components -->
    <script>
      $(function () {
        $("#header").load("../features/header.html");
      });
    </script>

    <title>Dashboard</title>
  </head>
  <body>
    <div class="site_wrapper vw-100 vh-100">
      <div id="header" style="position: fixed; z-index: 100"></div>
      <div
        class="custom_site_wrapper w-100 h-100 d-flex flex-row align-items-center justify-content-center overflow-y-auto"
        style="
          position: fixed;
          height: calc(100vh-56px);
          margin-bottom: 56px !important;
        "
      >
        <div
          class="custom_modal_wrapper bg-transparent p-0 w-100 mh-100 container d-flex flex-column overflow-visible"
        >
          <div
            class="custom_chartjs_wrapper container d-flex justify-content-center p-0 m-0"
          >
            chartjs
          </div>
          <div
            id="custom_log_entry_container"
            class="custom_logs_wrapper w-100 mt-4 mb-4 d-flex align-items-center flex-column container p-0 m-0"
          ></div>
        </div>
      </div>
    </div>
    <script src="data.js"></script>

    <script>
      //TODO - get database data callback here
      render_mood_log_entries(myData);
      function render_mood_log_entries(mood_data) {
        var mood_logs = document.getElementById("custom_log_entry_container");
        for (const mood in mood_data) {
          if (Object.hasOwnProperty.call(mood_data, mood)) {
            const date = mood_data[mood].date;
            const time = mood_data[mood].time;
            const active = mood_data[mood].active;
            const pleasant = mood_data[mood].pleasant;
            var trigger = mood_data[mood].trigger.toString();
            // trigger = JSON.stringify(trigger);
            const id = mood_data[mood].id;
            // console.log(date, time, active, pleasant, trigger);
            // console.log(trigger);

            const childElem = document.createElement("div");
            // childElem.textContent = `Date: ${date}, Time: ${time}`;
            childElem.id = `dashboard_log_${mood}`;
            childElem.classList.add("custom_dashboard_mood_logs");
            mood_logs.innerHTML += `<div
              class="dashboard_mood_log_entry_loop_container container w-100 mb-2 d-flex justify-content-between align-items-center bg-primary rounded-3"
              style="height: 50px"
            >
              <span class="d-flex w-100 justify-content-center"
                ><span
                  class="dashboard_fonts_log_label me-4 d-flex flex-row align-items-center"
                  style="width: 14%"//130px
                  >Date:
                  <span class="dashboard_fonts_log_value ms-1">${date}</span>
                </span>
                <span
                  class="dashboard_fonts_log_label me-4 d-flex flex-row align-items-center"
                  style="width: 10%"
                  >Time: <span class="dashboard_fonts_log_value ms-1">${time}</span>
                </span>
                <span class="dashboard_fonts_log_label me-4 d-flex flex-row align-items-center"
                style="width:26%"
                  >Mood:
                  <span class="dashboard_fonts_log_value ms-1 me-1">active: ${active}</span> &
                  <span class="dashboard_fonts_log_value ms-1"
                    >pleasant: ${pleasant}</span
                  ></span
                >
                <div class="dashboard_fonts_log_label me-4 d-flex flex-row align-items-center"
                style="width:45%">
                  Trigger:
                  <input
                    id='dashboard_input_trigger_${id}'
                    type="text"
                    class="dashboard_fonts_log_value ms-1 ps-1 d-flex overflow-hidden form-control"
                    style="width:100%"
                    value='${trigger}'
                    disabled
                    > 
                    
                </div>
              </span>
              <span
                class=" d-flex justify-content-end"
                style="max-width: 200px"
                ><button id='dashboard_edit_button_${id}' value='${id}' class="dashboard_button_log_edit btn btn-light me-2">Edit</button>
                <button id='dashboard_delete_button_${id}' value='${id}' class="dashboard_button_log_delete btn btn-light">Delete</button></span
              >
            </div>`;
          }
        }
        add_eventlistener_mood_entries();
      }
      function add_eventlistener_mood_entries() {
        const edit_buttons = document.querySelectorAll(
          ".dashboard_button_log_edit"
        );
        const delete_buttons = document.querySelectorAll(
          ".dashboard_button_log_delete"
        );
        edit_buttons.forEach((button) => {
          button.addEventListener("click", dashboardButtonsFunc);
        });
        delete_buttons.forEach((button) => {
          button.addEventListener("click", dashboardButtonsFunc);
        });
      }
      function dashboardButtonsFunc(elem) {
        const row_id = elem.target.value;
        mood_data = myData; //object with actual data from backend
        console.log("button clicked id: " + elem.target.id);
        //value contains the mood log id
        if (elem.target.id.includes("edit")) {
          console.log("edit button clicked start");
          //get connected input field and delete button
          var input_field_id = "dashboard_input_trigger_" + row_id;
          var edit_button = elem.target;
          var delete_button = document.getElementById(
            "dashboard_delete_button_" + row_id
          );
          input_field = document.getElementById(input_field_id);
          if (input_field.disabled === true) {
            input_field.disabled = false;
            edit_button.innerHTML = "Save";
            edit_button.id = "dashboard_save_button_" + row_id;
            delete_button.id = "dashboard_cancel_button_" + row_id;
            delete_button.innerHTML = "Cancel";
            console.log(
              "Row id: " +
                row_id +
                ", Input changed to enabled, edit->save, delete->cancel"
            );
          } else {
            console.log(
              "input field with id: " + row_id + " something went wrong"
            );
          }
          console.log("edit button clicked end");
        } else if (elem.target.id.includes("save")) {
          console.log("save button clicked start");
          //get connected input field and delete button
          var save_button = elem.target;
          var cancel_button = document.getElementById(
            "dashboard_cancel_button_" + row_id
          );
          input_field = document.getElementById(
            "dashboard_input_trigger_" + row_id
          );
          if (input_field.disabled === false) {
            input_field.disabled = true;
            save_button.innerHTML = "Edit";
            save_button.id = "dashboard_edit_button_" + row_id;
            cancel_button.id = "dashboard_delete_button_" + row_id;
            cancel_button.innerHTML = "Delete";
            //TODO - backend call save mood trigger update here
            var backend_successfull = true;
            if (backend_successfull) {
              console.log(
                "Row id: " +
                  row_id +
                  ", Input is saved and changed to disabled, save->edit, cancel->delete"
              );
            } else {
              console.log(
                "update backend call " + row_id + " something went wrong"
              );
            }
          } else {
            console.log(
              "input field with id: " + row_id + " something went wrong"
            );
          }
          console.log("save button clicked end");
        } else if (elem.target.id.includes("delete")) {
          console.log("delete button clicked start");
          //delete mood log entry
          var delete_button = elem.target;
          //TODO - backend call delete mood log entry here
          let backend_successfull = delete mood_data[row_id];
          // let backend_successfull = true;
          if (backend_successfull) {
            console.log("Row id: " + row_id + ", delete entry was successful");
            location.reload;
          } else {
            console.log(
              "delete entry backend call " + row_id + " something went wrong"
            );
          }
          render_mood_log_entries(mood_data);
          console.log("delete button clicked end");
        } else if (elem.target.id.includes("cancel")) {
          console.log("cancel button clicked start");
          //nothing changed
          //get connected input field and edit button
          var cancel_button = elem.target;
          var save_button = document.getElementById(
            "dashboard_save_button_" + row_id
          );
          input_field = document.getElementById(
            "dashboard_input_trigger_" + row_id
          );
          if (input_field.disabled === false) {
            input_field.disabled = true;
            save_button.innerHTML = "Edit";
            save_button.id = "dashboard_edit_button_" + row_id;
            cancel_button.id = "dashboard_delete_button_" + row_id;
            cancel_button.innerHTML = "Delete";
            if (mood_data[row_id] != undefined) {
              input_field.value = mood_data[row_id]["trigger"];
            } else {
              console.log(
                "mood log with id: " + row_id + " is already deleted"
              );
            }
            console.log(
              "Row id: " +
                row_id +
                ", Input is reset and changed to disabled, save->edit, cancel->delete"
            );
          } else {
            console.log(
              "input field with id: " + row_id + " something went wrong"
            );
          }
          console.log("cancel button clicked end");
        } else {
          console.log("something went wrong, button is not defined");
        }
      }
    </script>
  </body>
</html>
