<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="./stylesheet.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div
      class="vw-100 vh-100 d-flex align-items-center justify-content-center login_site_wrapper"
    >
      <div
        class="container overflow-y-auto d-flex flex-column rounded-5 login_container_wrapper"
      >
        <div class="d-flex mt-5 login_headline_wrapper">
          Track your mood today
        </div>
        <div
          class="d-flex flex-column w-100 mt-3 align-items-center login_form_container_wrapper"
        >
          <div class="container w-50 login_form_wrapper">
            <div
              class="d-flex mb-3 login_headline2_wrapper"
              id="login_login_headline"
            >
              Login
            </div>
            <form id="custom_login_form" class="needs-validation" novalidate>
              <div class="mb-3 login_username_wrapper">
                <label for="username_input" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username_input"
                  placeholder="username"
                  required
                />
                <div class="invalid-feedback"></div>
              </div>
              <div class="mb-3 login_password_wrapper">
                <label for="password_input" class="form-label">Password</label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password_input"
                    placeholder="password"
                    required
                  />
                  <span class="input-group-text p-0" id="password_visible">
                    <button
                      type="button"
                      id="password_visible_icon"
                      class="btn"
                    >
                      Icon
                    </button>
                  </span>
                  <div class="invalid-feedback"></div>
                </div>
              </div>
              <div
                class="d-flex p-0 mt-5 mb-2 justify-content-center login_submit_wrapper"
              >
                <button
                  class="btn pt-0 pb-0 ps-4 pe-4 custom_button_text"
                  type="submit"
                >
                  Login
                </button>
              </div>
            </form>
            <div
              class="d-flex mb-4 justify-content-center mt-3 login_signup_wrapper"
            >
              <span class="me-2 login_notregisteredyet"
                >Not registered yet?
              </span>
              <span class="ms-2 login_signup"
                ><a
                  class="btn m-0 p-0 btn-link"
                  href="./signup.html"
                  role="link"
                  >Sign up</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../functions/validationCheck.js"></script> -->
    <script>
      var icon_black = "<img src='../assets/low_vision_black.svg'/> ";
      var icon_white = "<img src='../assets/low_vision_grey.svg'/> ";
      document.getElementById("password_visible_icon").innerHTML = icon_black;
      document
        .getElementById("password_visible_icon")
        .addEventListener("click", password_visibility);
      function password_visibility() {
        var x = document.getElementById("password_input");
        // console.log("1: " + x.type);
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
        // console.log("2: " + x.type);
        var icon_visibility = document.getElementById("password_visible_icon");
        if (!icon_visibility.classList.contains(".active")) {
          icon_visibility.classList.add(".active");
          icon_visibility.innerHTML = icon_white;
        } else {
          icon_visibility.classList.remove(".active");
          icon_visibility.innerHTML = icon_black;
        }
        // console.log("but: " + icon_visibility.classList);
      }
    </script>
    <script>
      validationCheck();

      function validationCheck() {
        // "use strict";
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        const usernameInput = document.getElementById("username_input");
        const passwordInput = document.getElementById("password_input");
        let usernameValidated = false;
        let passwordValidated = false;
        usernameInput.addEventListener("input", async function () {
          const usernameValidate = await validateUsername(
            usernameInput.value,
            usernameInput
          );
          const valid = await setErrorMessages(usernameValidate, usernameInput);
          console.log(valid);
          usernameValidated = valid;
          usernameInput.form.classList.add("was-validated");
        });
        passwordInput.addEventListener("input", async function () {
          const passwordValidate = await validatePassword(
            passwordInput.value,
            passwordInput
          );
          const valid = await setErrorMessages(passwordValidate, passwordInput);
          console.log(valid);
          passwordValidated = valid;
          passwordInput.form.classList.add("was-validated");
        });

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener("submit", async function (event) {
            event.preventDefault(); //prevent from emediatly submitting
            event.stopPropagation();
            const form_data = new FormData(form);
            const dataOld = Object.fromEntries(form_data);
            const data = {
              username: dataOld.username,
              password: dataOld.password,
            };
            if (usernameValidated === true && passwordValidated === true) {
              //form submission here
              await submitForm(data);
            } else {
              console.log("input data was not valid");
            }
            form.classList.add("was-validated");
          });
        });
        async function setErrorMessages(valueValidate, inputField) {
          const error =
            inputField.parentNode.querySelector(".invalid-feedback");
          if (valueValidate === false) {
            //get the input error element
            error.textContent = inputField.validationMessage;
            inputField.classList.add("is-invalid");
            return false;
          } else {
            error.textContent = "";
            inputField.classList.remove("is-invalid");
            return true;
          }
        }

        async function validateUsername(input, field) {
          const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s]).{5,20}$/;
          //  ^: Start of the string.
          // (?=.*[a-z]): Positive lookahead assertion for at least one lowercase letter.
          // (?=.*[A-Z]): Positive lookahead assertion for at least one uppercase letter.
          // (?=.*\d): Positive lookahead assertion for at least one number.
          // (?=.*[^\w\s]): Positive lookahead assertion for at least one special character.
          // .{8,20}: Match any character between 5 and 20 times.
          // $: End of the string.
          const message =
            "Username has to be between 5 and 20 characters and contains at least one lowercase letter, one uppercase letter, one number, and one special character";
          if (!regex.test(input)) {
            field.setCustomValidity(message);
            return false;
          }
          field.setCustomValidity("");
          return true;
        }
        async function validatePassword(input, field) {
          const regex =
            /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
          const message =
            "Password has to be minimum 8 characters and contains at least one lowercase letter, one uppercase letter, one number, and one special character";

          if (!regex.test(input)) {
            field.setCustomValidity(message);
            return false;
          }
          field.setCustomValidity("");
          return true;
        }
        async function submitForm(data) {
          // const form = document.getElementById("custom_login_form");

          if (!data) {
            console.log("no data in form provided");
          }
          //send now form data using POST
          // let timeoutId = null;
          axios
            .post("http://localhost:3000/api/login", {
              username: data.username,
              password: data.password,
            })
            .then((response) => {
              console.log(response.data.message);
              // console.log(response);
              // debugger;
              window.sessionStorage.setItem(
                "sessionToken",
                response.data.token
              );
              window.sessionStorage.setItem("userId", response.data.userId);
              console.log(window.location.pathname);
              window.location.href = "./addmood.html";
            })
            .catch((error) => {
              console.log(error);

              // console.error(error);
              //only if error message not already displayed

              if (!document.querySelector("#login_error_message")) {
                const failMessage = document.getElementById(
                  "login_login_headline"
                );
                const newDiv = document.createElement("div");
                newDiv.textContent = error.response.data.message;
                newDiv.id = "login_error_message";
                newDiv.classList.add("d-flex");
                // newDiv.classList.add("justify-content-center");
                newDiv.classList.add("text-danger");
                failMessage.insertAdjacentElement("afterend", newDiv);
                // setTimeout(function () {
                //   newDiv.remove();
                // }, 10000);
              } else {
                const newDiv = document.getElementById("login_error_message");
                newDiv.innerHTML = error.response.data.message;
                newDiv.classList.add("text-danger");
                if (newDiv.classList.contains("text-success")) {
                  newDiv.classList.remove("text-success");
                }
                // setTimeout(function () {
                //   newDiv.remove();
                // }, 10000);
              }
            });
        }
      }

      // When the login is successful, the server sends a response with the session token, which is then saved to the session storage using window.sessionStorage.setItem('token', token);. This token can then be accessed from any page in the same domain
    </script>
  </body>
</html>
