<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="./add.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <!-- <link href="./stylesheet.css" ref="stylesheet" /> -->
    <!-- import other html files and components -->

    <script>
      $(function () {
        $("#header").load("../features/header.html");
      });
    </script>
    <title>Settings</title>
  </head>
  <body>
    <div class="site_wrapper vw-100 vh-100">
      <div id="header"></div>
      <div
        class="custom_site_wrapper w-100 h-100 d-flex align-items-center justify-content-center"
      >
        <div
          class="custom_modal_wrapper mh-100 container overflow-y-auto d-flex flex-column rounded-5"
        >
          <div class="d-flex mt-5 custom_modal_headline_wrapper">
            <span id="signup_title"></span>
          </div>
          <div
            class="custom_modal_form_container_wrapper d-flex flex-column w-100 mt-3 align-items-center"
          >
            <div class="container mb-3 custom_modal_form_wrapper">
              <div
                class="d-flex mt-3 mb-3 custom_modal_headline2_wrapper"
                id="signup_headline2"
              ></div>
              <div class="custom_modal_input_wrapper">
                <form id="form_settings" class="needs-validation">
                  <table class="table table-hover align-middle">
                    <tbody>
                      <tr>
                        <td>Username:</td>
                        <td>
                          <input
                            class="form-control"
                            id="input_settings_username"
                            type="text"
                            name="username"
                            disabled
                          />
                        </td>
                        <td>
                          <div>
                            <button
                              class="btn btn-light"
                              id="button_settings_edit_username"
                              value="input_settings_username"
                              type="button"
                            >
                              Edit now
                            </button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td>
                          <input
                            class="form-control"
                            id="input_settings_email"
                            type="text"
                            name="email"
                            disabled
                          />
                        </td>
                        <td>
                          <div>
                            <button
                              class="btn btn-light"
                              id="button_settings_edit_email"
                              value="input_settings_email"
                              type="button"
                            >
                              Edit now
                            </button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Password:</td>
                        <td>
                          <input
                            class="form-control"
                            id="input_settings_password"
                            type="password"
                            name="password"
                            disabled
                          />
                        </td>
                        <td>
                          <div>
                            <button
                              class="btn btn-light"
                              id="button_settings_edit_password"
                              value="input_settings_password"
                              type="button"
                            >
                              Change now
                            </button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Delete all entries:</td>
                        <td>
                          <span id="output_settings_entries_count"></span>
                        </td>
                        <td>
                          <button
                            class="btn btn-light"
                            id="button_settings_delete_entries"
                            type="button"
                            value="output_settings_entries_count"
                          >
                            Delete all entries now
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td id="output_settings_delete_account" colspan="2">
                          Delete your account
                        </td>
                        <td>
                          <button
                            class="btn btn-light"
                            id="button_settings_delete_account"
                            type="button"
                            value="output_settings_delete_account"
                          >
                            Delete account now
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../functions/sessionToken.js"></script>
    <script>
      var title = "Manage your account settings";
      var headline2 = "What do you want to change?";

      document.getElementById("signup_title").innerHTML = title;
      document.getElementById("signup_headline2").innerHTML = headline2;

      var user_actual = null; //actual stored user data
      window.onload = async function () {
        const valid = await validateSessionToken();
        // console.log("session validation: " + valid);
        //TODO -  call getUser onLoad() and set as value of inputs
        user_actual = await getUserData();
        console.log(user_actual.data);
        await setInitialValues(user_actual);
      };
      //set initial values
      async function setInitialValues(user_data, type) {
        if (arguments.length === 1) {
          //set loaded user values
          const input_username = document.getElementById(
            "input_settings_username"
          );
          input_username.value = user_data.data.username;
          const input_email = document.getElementById("input_settings_email");

          input_email.value = user_data.data.email;
          const input_password = document.getElementById(
            "input_settings_password"
          );
          input_password.value = "password";
          const output_entries = document.getElementById(
            "output_settings_entries_count"
          );
          let entry_text = "entries";
          if (user_data.data.entryCount === 1) {
            entry_text = "entry";
          }
          output_entries.textContent =
            user_data.data.entryCount + " " + entry_text + " stored";
        } else {
          const input = document.getElementById("input_settings_" + type);
          // console.log(input);
          if (input) {
            input.value = user_data.data[type];
          }
          // debugger;
        }
      }
      //add submit events to forms
      async function formSubmit(event) {
        // debugger;
        event.preventDefault();
        const form_settings_view = document.getElementById("form_settings");
        // console.log(form_settings_view);

        const form_data = new FormData(form_settings_view);
        const data_obj = Object.fromEntries(form_data);
        // console.log(data_obj);
        // debugger;
        let data_type = null;
        let data = null;
        if (data_obj.username) {
          console.log("username update");
          data = data_obj.username;
          data_type = Object.keys(data_obj);
        }
        if (data_obj.password) {
          console.log("password update");
          data = data_obj.password;
          data_type = Object.keys(data_obj);
        }
        if (data_obj.email) {
          console.log("email update");
          data = data_obj.email;
          data_type = Object.keys(data_obj);
        }
        // console.log(data_type);
        if (data_type && data) {
          const result = await updateUserData({ [data_type]: data });
          // debugger;
          if (result) {
            return result;
          }
        }
        return false;
        // debugger;
      }

      setEventListener();
      async function getUserData() {
        let result = null;
        try {
          const sessionToken = await sessionStorage.getItem("sessionToken");
          const userId = await sessionStorage.getItem("userId");
          result = await axios.get("http://localhost:3000/api/user/get", {
            headers: {
              Authorization: sessionToken,
              "X-User-Id": userId,
            },
          });
          // console.log("result: " + result);
          // console.log(result);
          return result.data;
        } catch (error) {
          console.log(error);
          return false;
        }
      }
      async function updateUserData(data) {
        try {
          // debugger;
          const sessionToken = await sessionStorage.getItem("sessionToken");
          const userId = await sessionStorage.getItem("userId");
          // console.log([data]);
          const type = Object.keys(data);
          const type_data = data[type];
          // console.log(type, type_data);
          if (data) {
            const result = await axios.patch(
              "http://localhost:3000/api/user/update",
              {
                [type]: type_data,
              },
              {
                headers: {
                  Authorization: sessionToken,
                  "X-User-Id": userId,
                },
              }
            );
            // debugger;
            console.log(result.data.message);
            // debugger;
            if (result.data.success) {
              return result.data.message;
            }
          }
        } catch (error) {
          console.log(error);
        }
        return false;
      }
      async function deleteEntries(elem) {
        var output_x = document.getElementById(elem.target.value);
        console.log(output_x);
        console.log("delete all entries now");
        //TODO - call delete entries backend call here
        //TODO - entries_count = call load number of entries here for validation
        // output_x.innerHTML=entries_count
      }
      async function deleteAccount(elem) {
        var output_x = document.getElementById(elem.target.id);
        console.log(output_x);
        console.log("delete account now");
        try {
          // debugger;
          const sessionToken = await sessionStorage.getItem("sessionToken");
          const userId = await sessionStorage.getItem("userId");
          if (sessionToken && userId) {
            const result = await axios.delete(
              "http://localhost:3000/api/user/delete",
              {
                headers: {
                  Authorization: sessionToken,
                  "X-User-Id": userId,
                },
              }
            );
            console.log(result.data.message);
            // debugger;
            if (result.data.success) {
              debugger;
              const valid = await validateSessionToken();
              return result.data.message;
            }
          }
        } catch (error) {
          console.log(error);
        }
        return false;
        //TODO - backend call delete account here
        //TODO - delete successfull change background color green
      }
      async function settingUsernamePasswordFunc(elem) {
        //input field
        var input_x = document.getElementById(elem.target.value);
        //button which is clicked
        var button_x = document.getElementById(elem.target.id);
        // console.log("input value: " + input_x.value);
        let removeChild = null;
        // const input_x_value = input_x.value;

        const newButton = document.createElement("button");
        newButton.id = button_x.id;
        newButton.value = button_x.value;
        newButton.classList.add("btn");
        newButton.classList.add("btn-light");

        if (input_x.disabled === true) {
          //create cancel button next to save
          const cancel_button = document.createElement("button");
          cancel_button.classList.add("btn");
          cancel_button.classList.add("btn-light");
          cancel_button.classList.add("ms-1");
          cancel_button.textContent = "Cancel";
          cancel_button.value = button_x.value;
          cancel_button.type = "button";
          let type_id = null;
          if (button_x.id.includes("username")) {
            type_id = "username";
          } else if (button_x.id.includes("password")) {
            type_id = "password";
          } else if (button_x.id.includes("email")) {
            type_id = "email";
          }
          cancel_button.id = "button_settings_cancel_" + type_id;
          //
          newButton.type = "submit";
          newButton.setAttribute("form", "form_settings");
          newButton.innerHTML = "Save now";
          if (input_x.id.includes("password")) {
            // console.log("includes password");
            input_x.type = "text";
            input_x.value = "";
            input_x.placeholder = "new password";
            cancel_button.id = "button_settings_cancel_password";
          }
          console.log("changed to enabled");
          input_x.disabled = false;
          // await removeCancelButton(button_x);
          if (!button_x.id.includes("cancel")) {
            button_x.insertAdjacentElement("afterend", cancel_button);
          }
        } else {
          //input is enabled and gets disabled now
          if (!button_x.id.includes("cancel")) {
            console.log("submit form now");
            const submitResp = await formSubmit(elem);
            if (submitResp) {
              console.log("submit response: " + submitResp);
            }
          } else {
            //button cancel is clicked
            const children = button_x.parentElement.children;
            removeChild = Array.from(children).find(
              (child) => !child.id.includes("cancel")
            );
            // console.log(removeChild);
            // debugger;
          }
          //TODO - backend call update here for change of username/password
          newButton.type = "button";
          // newButton.removeAttribute("form");
          newButton.innerHTML = "Edit now";
          if (input_x.id.includes("password")) {
            // console.log("includes password");
            input_x.type = "password";
            input_x.value = "password";
            newButton.textContent = "Change now";
          }
          // console.log("input val to be: " + input_x.value);
          console.log("changed to disabled");
          input_x.disabled = true;
          //remove cancel button
          await removeCancelButton(button_x);
        }
        // debugger;
        if (!button_x.id.includes("cancel")) {
          button_x.parentNode.replaceChild(newButton, button_x);
        } else if (removeChild != null) {
          // debugger;
          //if cancel button is clicked
          newButton.id = removeChild.id;
          removeChild.parentNode.replaceChild(newButton, removeChild);
          let type = null;
          if (removeChild.id.includes("username")) {
            type = "username";
          } else if (removeChild.id.includes("password")) {
            type = "password";
          } else if (removeChild.id.includes("email")) {
            type = "email";
          }
          await setInitialValues(user_actual, type);
        }

        await setEventListener();
        // console.log("successful changed entry type");

        async function removeCancelButton(button_x) {
          const children = button_x.parentElement.children;
          const removeChild = Array.from(children).find((child) =>
            child.id.includes("cancel")
          );
          // console.log(removeChild);
          if (removeChild) {
            // console.log("remove child is true");
            button_x.parentElement.removeChild(removeChild);
          }
        }
      }

      async function setEventListener() {
        document
          .getElementById("button_settings_edit_password")
          .addEventListener("click", settingUsernamePasswordFunc);
        document
          .getElementById("button_settings_edit_username")
          .addEventListener("click", settingUsernamePasswordFunc);
        document
          .getElementById("button_settings_edit_email")
          .addEventListener("click", settingUsernamePasswordFunc);
        document
          .getElementById("button_settings_delete_entries")
          .addEventListener("click", deleteEntries);
        document
          .getElementById("button_settings_delete_account")
          .addEventListener("click", async function (event) {
            const result = await deleteAccount(event);
            console.log(result);
          });
        const cancel_username = document.getElementById(
          "button_settings_cancel_username"
        );
        if (cancel_username) {
          cancel_username.addEventListener(
            "click",
            settingUsernamePasswordFunc
          );
        }
        const cancel_email = document.getElementById(
          "button_settings_cancel_email"
        );
        if (cancel_email) {
          cancel_email.addEventListener("click", settingUsernamePasswordFunc);
        }
        const cancel_password = document.getElementById(
          "button_settings_cancel_password"
        );
        if (cancel_password) {
          cancel_password.addEventListener(
            "click",
            settingUsernamePasswordFunc
          );
        }
      }
    </script>
    <script></script>
    <script>
      // on Site load get Username, password, entry count
    </script>
  </body>
</html>
