<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="./add.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <!-- <link href="./stylesheet.css" ref="stylesheet" /> -->
    <!-- import other html files and components -->

    <script>
      $(function () {
        $("#header").load("../features/header.html");
      });
    </script>
    <title>Settings</title>
  </head>
  <body>
    <div class="site_wrapper vw-100 vh-100">
      <div id="header"></div>
      <div
        class="custom_site_wrapper w-100 h-100 d-flex align-items-center justify-content-center"
      >
        <div
          class="custom_modal_wrapper mh-100 container overflow-y-auto d-flex flex-column rounded-5"
        >
          <div class="d-flex mt-5 custom_modal_headline_wrapper">
            <span id="signup_title"></span>
          </div>
          <div
            class="custom_modal_form_container_wrapper d-flex flex-column w-100 mt-3 align-items-center"
          >
            <div class="container mb-3 custom_modal_form_wrapper">
              <div
                class="d-flex mt-3 mb-3 custom_modal_headline2_wrapper"
                id="signup_headline2"
              ></div>
              <div class="custom_modal_input_wrapper">
                <table class="table table-hover align-middle">
                  <tbody>
                    <tr>
                      <form
                        id="form_settings_username"
                        class="needs-validation"
                        novalidate
                      >
                        <td>Username:</td>
                        <td>
                          <input
                            class="form-control"
                            id="input_settings_username"
                            value="loaded username"
                            type="text"
                            name="username"
                            disabled
                          />
                        </td>
                        <td>
                          <button
                            class="btn btn-light"
                            id="button_settings_edit_username"
                            value="input_settings_username"
                            type="button"
                          >
                            Edit now
                          </button>
                        </td>
                      </form>
                    </tr>
                    <tr>
                      <form
                        id="form_settings_password"
                        class="needs-validation"
                        novalidate
                      >
                        <td>Password:</td>
                        <td>
                          <input
                            class="form-control"
                            id="input_settings_password"
                            value="password"
                            type="password"
                            name="password"
                            disabled
                          />
                        </td>
                        <td>
                          <button
                            class="btn btn-light"
                            id="button_settings_edit_password"
                            value="input_settings_password"
                            type="button"
                          >
                            Change now
                          </button>
                        </td>
                      </form>
                    </tr>
                    <tr>
                      <td>Delete all entries:</td>
                      <td>
                        <span id="output_settings_entries_count"></span>
                      </td>
                      <td>
                        <button
                          class="btn btn-light"
                          id="button_settings_delete_entries"
                          type="button"
                          value="output_settings_entries_count"
                        >
                          Delete all entries now
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td id="output_settings_delete_account" colspan="2">
                        Delete your account
                      </td>
                      <td>
                        <button
                          class="btn btn-light"
                          id="button_settings_delete_account"
                          type="button"
                          value="output_settings_delete_account"
                        >
                          Delete account now
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../functions/sessionToken.js"></script>
    <script>
      window.onload = async function () {
        const valid = await validateSessionToken();
        // console.log("session validation: " + valid);
        //TODO -  call getUser onLoad() and set as value of inputs
        const user_data = await getUserData();
        console.log(user_data.data);
        //set loaded user values
        const input_username = document.getElementById(
          "input_settings_username"
        );
        input_username.value = user_data.data.username;
        const output_entries = document.getElementById(
          "output_settings_entries_count"
        );
        let entry_text = "entries";
        if (user_data.data.entryCount === 1) {
          entry_text = "entry";
        }
        output_entries.textContent =
          user_data.data.entryCount + " " + entry_text + " stored";
        // debugger;
      };
      async function getUserData() {
        let result = null;
        try {
          const sessionToken = await sessionStorage.getItem("sessionToken");
          const userId = await sessionStorage.getItem("userId");
          result = await axios.get("http://localhost:3000/api/user/get", {
            headers: {
              Authorization: sessionToken,
              "X-User-Id": userId,
            },
          });
          // console.log("result: " + result);
          // console.log(result);
        } catch (error) {
          console.log(error);
        }
        return result.data;
      }
    </script>
    <script>
      var title = "Manage your account settings";
      var headline2 = "What do you want to change?";
      var entry_count = 123;

      document.getElementById("signup_title").innerHTML = title;
      document.getElementById("signup_headline2").innerHTML = headline2;

      document
        .getElementById("button_settings_edit_password")
        .addEventListener("click", settingUsernamePasswordFunc);
      document
        .getElementById("button_settings_edit_username")
        .addEventListener("click", settingUsernamePasswordFunc);
      document
        .getElementById("button_settings_delete_entries")
        .addEventListener("click", deleteEntries);
      document
        .getElementById("button_settings_delete_account")
        .addEventListener("click", deleteAccount);

      function deleteEntries(elem) {
        var output_x = document.getElementById(elem.target.value);
        console.log(output_x);
        console.log("delete all entries now");
        //TODO - call delete entries backend call here
        //TODO - entries_count = call load number of entries here for validation
        // output_x.innerHTML=entries_count
      }
      function deleteAccount(elem) {
        var output_x = document.getElementById(elem.target.value);
        console.log(output_x);
        console.log("delete account now");
        //TODO - backend call delete account here
        //TODO - delete successfull change background color green
      }
      function settingUsernamePasswordFunc(elem) {
        //input field
        var input_x = document.getElementById(elem.target.value);
        //button which is clicked
        var button_x = elem.target;
        debugger;

        // console.log("input value: " + input_x.value);
        if (input_x.disabled === true) {
          button_x.innerHTML = "Save now";
          if (input_x.id.includes("password")) {
            // console.log("includes password");
            input_x.type = "text";
            input_x.value = "";
            input_x.placeholder = "new password";
          }
          console.log("changed to enabled");
          input_x.disabled = false;
        } else {
          //TODO - backend call update here for change of username/password
          button_x.innerHTML = "Edit now";
          if (input_x.id.includes("password")) {
            // console.log("includes password");
            input_x.type = "password";
            button_x.innerHTML = "Change now";
          }
          // console.log("input val to be: " + input_x.value);
          console.log("changed to disabled");
          input_x.disabled = true;
        }
      }
    </script>
    <script>
      // on Site load get Username, password, entry count
    </script>
  </body>
</html>
