<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="./stylesheet.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
  </head>
  <body>
    <div
      class="vw-100 vh-100 p-0 d-flex align-items-center justify-content-center signup_site_wrapper"
    >
      <div
        class="container p-0 m-0 overflow-y-auto d-flex flex-column rounded-5 bg-body-secondary signup_container_wrapper"
      >
        <div class="d-flex signup_headline_wrapper mt-5">
          <span id="signup_title"></span>
        </div>
        <div
          class="d-flex flex-column w-100 mt-3 align-items-center signup_form_container_wrapper"
        >
          <div class="container signup_form_wrapper">
            <div
              class="d-flex mb-3 signup_headline2_wrapper"
              id="signup_headline2"
            ></div>
            <form class="needs-validation" id="custom_signup_form" novalidate>
              <div class="mb-3 signup_username_wrapper">
                <label for="signup_username_input" class="form-label"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control signup_input"
                  id="signup_username_input"
                  placeholder="username"
                  name="username"
                  required
                />
              </div>
              <div class="mb-3 signup_password_wrapper">
                <label for="signup_password_input" class="form-label"
                  >Password</label
                >
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control signup_input"
                    id="signup_password_input"
                    placeholder="password"
                    name="password"
                    required
                  />
                  <span class="input-group-text p-0" id="password_visible">
                    <button
                      type="button"
                      class="btn"
                      id="password_visible_icon"
                    >
                      Icon
                    </button>
                  </span>
                </div>
              </div>
              <div class="mb-3 signup_email_wrapper">
                <label for="signup_email_input" class="form-label"
                  >E-Mail</label
                >
                <input
                  type="email"
                  class="form-control signup_input"
                  id="signup_email_input"
                  placeholder="example@mood.com"
                  name="email"
                  required
                />
              </div>
              <div
                class="d-flex p-0 mt-5 justify-content-center signup_submit_wrapper"
              >
                <button
                  class="btn pt-0 pb-0 ps-4 pe-4 btn-primary custom_button_text"
                  type="submit"
                  id="signup_button"
                >
                  signup
                </button>
              </div>
            </form>
            <div
              class="d-flex mb-4 justify-content-center mt-3 login_signup_wrapper"
            >
              <span class="me-2 login_notregisteredyet"
                >Already registered?
              </span>
              <span class="ms-2 login_signup"
                ><a class="btn m-0 p-0 btn-link" href="./login.html" role="link"
                  >Login</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../functions/validationCheck.js"></script> -->
    <script>
      var title = "Create your Account";
      var headline2 = "What are your credentials?";
      var button = "Sign up";
      var icon_black = "<img src='../assets/low_vision_black.svg'/> ";
      var icon_white = "<img src='../assets/low_vision_grey.svg'/> ";

      document.getElementById("signup_title").innerHTML = title;
      document.getElementById("signup_headline2").innerHTML = headline2;
      document.getElementById("signup_button").innerHTML = button;
      document.getElementById("password_visible_icon").innerHTML = icon_black;

      document
        .getElementById("password_visible_icon")
        .addEventListener("click", password_visibility);
      function password_visibility() {
        var x = document.getElementById("signup_password_input");
        // console.log("1: " + x.type);
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
        // console.log("2: " + x.type);
        var icon_visibility = document.getElementById("password_visible_icon");
        if (!icon_visibility.classList.contains(".active")) {
          icon_visibility.classList.add(".active");
          icon_visibility.innerHTML = icon_white;
        } else {
          icon_visibility.classList.remove(".active");
          icon_visibility.innerHTML = icon_black;
        }
        // console.log("but: " + icon_visibility.classList);
      }
    </script>
    <script>
      validationCheck();
      function validationCheck() {
        // "use strict";
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener("submit", async function (event) {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
              form.classList.add("was-validated");
            } else {
              //form submission here
              await submitForm(form, event);
            }

            // console.log(event);
          });
          // console.log(form.classList);
        });
      }
      async function submitForm(form, event) {
        // const form = document.getElementById("custom_signup_form");

        event.preventDefault(); //prevent from emediatly submitting
        const form_data = new FormData(form);
        const data = Object.fromEntries(form_data);
        //send now form data using POST
        console.log(data);
        axios
          .post("http://localhost:3000/api/user/add", {
            username: data.username,
            password: data.password,
            email: data.email,
          })
          .then((response) => {
            console.log(response.data.message);
            form.reset();
            form.classList.remove("was-validated");
            if (!document.querySelector("#signup_error_message")) {
              const failMessage = document.getElementById("signup_headline2");
              const newDiv = document.createElement("div");
              newDiv.textContent = response.data.message;
              newDiv.id = "signup_error_message";
              newDiv.classList.add("d-flex");
              // newDiv.classList.add("justify-content-center");
              newDiv.classList.add("text-success");
              failMessage.insertAdjacentElement("afterend", newDiv);
              // setTimeout(function () {
              //   newDiv.remove();
              // }, 20000);
            } else {
              const elem = document.getElementById("signup_error_message");
              elem.textContent = response.data.message;
              if (elem.classList.contains("text-danger")) {
                elem.classList.remove("text-danger");
              }
              elem.classList.add("text-success");
              // setTimeout(function () {
              //   elem.remove();
              // }, 20000);
            }
            // window.location.href = "./login.html";
          })
          .catch((error) => {
            console.log(error);
            // console.error(error);
            //only if error message not already displayed
            if (!document.querySelector("#signup_error_message")) {
              const failMessage = document.getElementById("signup_headline2");
              const newDiv = document.createElement("div");
              newDiv.textContent = error.response.data.message;
              newDiv.id = "signup_error_message";
              newDiv.classList.add("d-flex");
              // newDiv.classList.add("justify-content-center");
              newDiv.classList.add("text-danger");
              failMessage.insertAdjacentElement("afterend", newDiv);
              timeoutId = setTimeout(function () {
                newDiv.remove();
              }, 10000);
            } else {
              const elem = document.getElementById("signup_error_message");
              elem.innerHTML = error.response.data.message;
              elem.classList.add("text-danger");
              if (elem.classList.contains("text-success")) {
                elem.classList.remove("text-success");
              }
              setTimeout(function () {
                elem.remove();
              }, 10000);
            }
          });
      }
    </script>
  </body>
</html>
