<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <link href="./stylesheet.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
  </head>
  <body>
    <div
      class="vw-100 vh-100 d-flex align-items-center justify-content-center signup_site_wrapper"
    >
      <div
        class="container overflow-y-auto d-flex flex-column rounded-5 bg-body-secondary signup_container_wrapper"
      >
        <div class="d-flex signup_headline_wrapper">
          <span id="signup_title"></span>
        </div>
        <div
          class="d-flex flex-column w-100 mt-3 align-items-center signup_form_container_wrapper"
        >
          <div class="container w-50 signup_form_wrapper">
            <div
              class="d-flex mb-3 signup_headline2_wrapper"
              id="signup_headline2"
            ></div>
            <form class="needs-validation" novalidate>
              <div class="mb-3 signup_username_wrapper">
                <label for="signup_username_input" class="form-label"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="signup_username_input"
                  placeholder="username"
                  value=""
                  required
                />
              </div>
              <div class="mb-3 signup_password_wrapper">
                <label for="signup_password_input" class="form-label"
                  >Password</label
                >
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    id="signup_password_input"
                    placeholder="password"
                    value=""
                    required
                  />
                  <span class="input-group-text p-0" id="password_visible">
                    <button
                      type="button"
                      class="btn"
                      id="password_visible_icon"
                    >
                      Icon
                    </button>
                  </span>
                </div>
              </div>
              <div class="mb-3 signup_email_wrapper">
                <label for="signup_email_input" class="form-label"
                  >E-Mail</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="signup_email_input"
                  placeholder="example@mood.com"
                  value=""
                  required
                />
              </div>
              <div
                class="d-flex p-0 mt-5 mb-5 justify-content-center signup_submit_wrapper"
              >
                <button
                  class="btn pt-0 pb-0 ps-4 pe-4 btn-primary custom_button_text"
                  type="submit"
                  id="signup_button"
                >
                  signup
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="../functions/validationCheck.js"></script>
    <script>
      var title = "Create your Account";
      var headline2 = "What are your credentials?";
      var button = "Sign up";
      var icon_black = "<img src='../assets/low_vision_black.svg'/> ";
      var icon_white = "<img src='../assets/low_vision.svg'/> ";

      document.getElementById("signup_title").innerHTML = title;
      document.getElementById("signup_headline2").innerHTML = headline2;
      document.getElementById("signup_button").innerHTML = button;
      document.getElementById("password_visible_icon").innerHTML = icon_black;

      document
        .getElementById("signup_button")
        .addEventListener("click", myfunc);
      function myfunc(params) {
        console.log("check validation first and then submit data");
      }

      document
        .getElementById("password_visible_icon")
        .addEventListener("click", password_visibility);
      function password_visibility() {
        var x = document.getElementById("signup_password_input");
        console.log("1: " + x.type);
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
        console.log("2: " + x.type);
        var icon_visibility = document.getElementById("password_visible_icon");
        if (!icon_visibility.classList.contains(".active")) {
          icon_visibility.classList.add(".active");
          icon_visibility.innerHTML = icon_white;
        } else {
          icon_visibility.classList.remove(".active");
          icon_visibility.innerHTML = icon_black;
        }
        console.log("but: " + icon_visibility.classList);
      }
    </script>
  </body>
</html>
